// Height 100vh, 1vh for scrollbar
$navbar-app-height: 5vh;
$navbar-board-height: 6vh;
$board-content-height: 88vh;

// Color
$board-bg-color: #0098f0;
$common-bg-element: rgba(255, 255, 255, 0.24);
$white-color: #fff;
$column-bg-color: #ebecf0;
$text-color-faint: #888;
$text-color-main: #333;
$bg-color-faint: #dadada;

// Spacing
$gap: 10px;
$column-width: 300px;
$card-border-radius: 4px;
