@import url("https://fonts.googleapis.com/css2?family=Robot:wght@400;600&display=swap");
@import "_setting.scss";

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.3em;
}

.App {
    height: 100vh;
    line-height: 1.3em;
    background-color: $board-bg-color;
    overflow: hidden;
    .icon {
        font-size: 14px;
        margin-right: 3px;
    }
}
